.config/alacritty/colors.toml
.config/waybar/colors.css
.config/ghostty/themes/Matugen
.config/starship.toml
.config/wlogout/colors.css
.config/niri/colors.kdl
.config/btop/themes/matugen.theme
.config/hypr/colors.conf
.config/anyrun/style.css
.config/yazi/theme.toml
