@import "colors.css";

* {
    color: @secondary;
    border: 0;
    font-family: "JetBrainsNLMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.module {
    background-color: @background;
    border-radius: 12px;
    padding: 2px 6px;
    margin: 2px 2px;
    opacity: 0.7;
}
#workspaces {
    border-radius: 12px;
    padding: 6px 10px;
}

#workspaces {
    background: @background;
}

#workspaces button label {
    color: @background;
}

#workspaces button {
    color: @background;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
    min-width: 20px;
}
#workspaces button:hover {
    background: @primary;
    border-radius: 20px;
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    background: @primary;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

.modules-left > widget:first-child > * {
    margin-left: 4px;
}

.modules-right > widget:last-child > * {
    margin-right: 4px;
}

#custom-cava {
    border-radius: 12px;
    color: @primary;
}

#clock {
    color: @secondary;
    border-radius: 12px;
    padding: 2px 6px 2px 10px;
}

#battery {
    color: @secondary;
    border-radius: 0 12px 12px 0;
    margin: 2px 2px 2px 0;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #ed8796;
    }
}

#battery.warning:not(.charging) {
    color: #eed49f;
}

#battery.critical:not(.charging) {
    color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-system {
    color: @primary;
    border-radius: 12px 0 0 12px;
    margin: 2px 0 2px 2px;
}

#cpu {
    color: @primary;
    border-radius: 0;
    margin: 2px 0;
}

#cpu #cpu-icon {
    color: @primary;
}

#memory {
    color: @primary;
    border-radius: 0;
    margin: 2px 0;
}

#disk {
    color: @primary;
    border-radius: 0;
    margin: 2px 0;
}

#backlight {
    color: @primary;
    border-radius: 0px;
    margin: 2px 0px 2px 0;
}

#power-profiles-daemon {
    color: @secondary;
    border-radius: 12px 0px 0px 12px;
    margin: 2px 0;
}

#network.disabled {
    color: @error;
    border-radius: 12px;
}

#network {
    color: @secondary;
    border-radius: 12px;
}

#network.disconnected {
    color: @error;
    border-radius: 12px;
}

#pulseaudio {
    color: @secondary;
    border-radius: 12px;
}

#pulseaudio.muted {
    color: @secondary;
    border-radius: 12px;
}

#temperature {
    color: @secondary;
    border-radius: 0px 0px 0px 0px;
    margin: 2px 0px;
}

#temperature.critical {
    color: @error;
    border-radius: 12px;
}
#tray {
    color: @secondary;
    border-radius: 12px;
}

#custom-power {
    color: @background;
    background: @secondary;
    border-radius: 12px;
    padding: 2px 14px 2px 11px;
}

#custom-pacman {
    color: @primary;
    border-radius: 0 12px 12px 0;
    margin: 2px 2px 2px 0;
}
