@import "colors.css";

* {
    color: @secondary;
    border: 0;
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.module {
    background-color: @background;
    border-radius: 12px;
    padding: 5px 8px;
    margin: 4px 2px;
    opacity: 0.7;
}
#workspaces {
    border-radius: 12px;
    padding: 6px 10px;
}

#workspaces {
    background: @background;
}

#workspaces button label {
    color: @background;
}

#workspaces button {
    color: @background;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
    min-width: 20px;
}
#workspaces button:hover {
    background: @on_primary_container;
    border-radius: 20px;
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    color: #2f2f2f;
    background: @on_primary_container;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

.modules-left > widget:first-child > * {
    margin-left: 4px;
}

.modules-right > widget:last-child > * {
    margin-right: 4px;
}

#custom-cava {
    border-radius: 12px;
    color: @on_primary_container;
}

#clock {
    color: @secondary;
    border-radius: 12px;
    padding: 5px 14px 5px 8px;
}

#battery {
    color: #a6da95;
    border-radius: 0 12px 12px 0;
    margin: 4px 2px 4px 0;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #ed8796;
    }
}

#battery.warning:not(.charging) {
    color: #eed49f;
}

#battery.critical:not(.charging) {
    color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-system {
    color: @secondary;
    border-radius: 12px 0 0 12px;
    margin: 4px 0 4px 2px;
}


#cpu {
    color: @secondary;
    border-radius: 0;
    margin: 4px 0;
}

#cpu #cpu-icon {
    color: @secondary;
}

#memory {
    color: @secondary;
    border-radius: 0;
    margin: 4px 0;
}

#disk {
    color: @secondary;
    border-radius: 0;
    margin: 4px 0;
}

#backlight {
    border-radius: 0px;
    margin: 4px 0px 4px 0;
}

#power-profiles-daemon {
    color: @secondary;
    border-radius: 0;
    margin: 4px 0;
}

#network.disabled {
    color: #bf616a;
    border-radius: 12px;
}

#network {
    color: #a6da95;
    border-radius: 12px;
}

#network.disconnected {
    color: #bf616a;
    border-radius: 12px;
}

#pulseaudio {
    color: #f0c6c6;
    border-radius: 12px;
}

#pulseaudio.muted {
    color: #3b4252;
    border-radius: 12px;
}

#temperature {
    color: #8bd5ca;
    border-radius: 12px 0 0 12px;
    margin: 4px 0 4px 2px;
}

#temperature.critical {
    color: #ed8796;
    border-radius: 12px;
}

#tray {
    border-radius: 12px;
}

#custom-power {
    color: @background;
    background-color: @on_primary_container;
    border-radius: 12px;
    padding: 5px 10px 5px 8px;
}

#custom-pacman {
    border-radius: 0 12px 12px 0;
    margin: 4px 5px 4px 0;
}

