@import "colors.css";

* {
    color: @secondary;
    border: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#workspaces {
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

#workspaces {
    /* border: rgba(255, 255, 255, 0.2) solid 2px; */
    background: @background;
}

#workspaces button label {
    color: @background;
}

#workspaces button {
    color: @background;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
    min-width: 20px;
}
#workspaces button:hover {
    background: @on_primary_container;
    border-radius: 20px;
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    color: #2f2f2f;
    background: @on_primary_container;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > * {
    margin-left: 6px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > * {
    margin-right: 6px;
}

#network#bandwidth,
#clock,
#custom-cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-pacman,
#power-profiles-daemon,
#custom-system,
#backlight {
    padding: 4px 8px;
    border-style: solid;
    background-color: rgba(30, 30, 30, 0.65);
    opacity: 1;
    margin: 6px 0;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */
#custom-cava {
    border-radius: 10px;
    color: @on_primary_container;
}

#clock {
    /* background-color:#a3be8c; */
    color: @secondary;
    border-radius: 10px;
    margin: 6px 8px;
}

#battery {
    color: #a6da95;
    /* border-bottom: 2px solid @sky; */
    /* border-bottom: 2px solid #d8dee9; */
    border-radius: 0 10px 10px 0;
    margin-right: 0px;
}

#battery.charging {
    color: #81a1c1;
    /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
    to {
        color: #ed8796;
        /* border-bottom: 2px solid @red; */
    }
}

#battery.warning:not(.charging) {
    color: #eed49f;
    /* border-bottom: 2px solid #81a1c1; */
}

#battery.critical:not(.charging) {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-system {
    color: @secondary;
    border-radius: 10px 0 0 10px; /* 左上、左下圆角 */
    /* border-bottom: 2px solid @sky; */
}

#cpu {
    color: @secondary;
    /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
    color: @secondary;
}

#memory {
    color: @secondary;
}

#disk {
    color: @secondary;
}

#power-profiles-daemon {
    color: @secondary;
}

#network.disabled {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#network {
    color: #a6da95;
    /* border-bottom: 2px solid @green; */
    border-radius: 10px;
    margin-right: 4px;
}

#network.disconnected {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
    color: #f0c6c6;
    border-radius: 10px 10px;
    /* border-bottom: 2px solid @flamingo; */
}

#pulseaudio.muted {
    color: #3b4252;
    /* border-bottom: 2px solid #3b4252; */
}

#temperature {
    color: #8bd5ca;
    /* border-bottom: 2px solid @teal; */
    border-radius: 10px 0 0 10px;
}

#temperature.critical {
    color: #ed8796;
    /* border-bottom: 2px solid @red; */
}

#tray {
    /* background-color: @base; */
    margin: 6px 4px;
    border-radius: 10px;
}

#custom-power {
    color: @background;
    background-color: @on_primary_container;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 12px;
    padding: 4px 8px;
}

#custom-pacman {
    border-radius: 10px;
    margin-right: 4px;
}

/* #window { */
/*     border-radius: 10px; */
/*     color: @base; */
/*     margin-left: 15px; */
/*     background-color: @mauve; */
/* } */

/* window#waybar {
     background: #2d2a2e;
 }

 * {
     color: #c8b9a9;
     font-family: Ubuntu Mono, sans-serif;
     font-size: 12px;
 }

 #workspaces button.focused {
     color: #f2e5bc;
 }

 #workspaces button {
     color: #c8b9a9;
 }

 .separator {
     background-color: #c8b9a9;
 }

 #mode {
     color: #ebcb8b;
 }

 #clock {
     color: #a3be8c;
 }

 #battery {
     color: #d8dee9;
 }

 #battery.charging {
     color: #b48ead;
 }

 #battery.critical:not(.charging) {
     color: #bf616a;
 }

 #cpu {
     color: #a3be8c;
 }

 #memory {
     color: #d3869b;
 }

 #network {
     color: #8fbcbb;
 }

 #network.disabled {
     color: #bf616a;
 }

 #network.disconnected {
     color: #bf616a;
 }

 #pulseaudio {
     color: #b48ead;
 }

 #pulseaudio.muted {
     color: #bf616a;
 }

 #temperature {
     color: #8fbcbb;
 }

 #temperature.critical {
     color: #bf616a;
 } */
