layout{
    focus-ring{
        active-gradient from="#86d1e9cc" to="#c1c4ebcc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#343a3c"
        urgent-color "#ffb4ab"
    }
}
