layout{
    focus-ring{
        active-gradient from="#ffb1bfcc" to="#ebbe90cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#413738"
        urgent-color "#ffb4ab"
    }
}
