layout{
    focus-ring{
        active-gradient from="#ffb3adcc" to="#e1c28ccc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#423735"
        urgent-color "#ffb4ab"
    }
}
